* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}

body{
  background-color: rgb(200, 200, 200);
}

.window{
  background-color:white;
  border-width: 10px;
  border-radius: 2%;

}

/* TODO: make h1 affected */
h1{
  font-weight: bolder;
  text-align: center;
}

p{
  text-align: center;
}



#subscribe-button{
  color: white;
  background-color:black;
  border-color: black;

}