* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(200, 200, 200);
}

#window{
  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2%;
  overflow: auto;
}

h1{
  font-weight: bolder;
  text-align: center;
}

p{
  text-align: center;
}

#email-container{
  text-align: center;
  display:flex;
  justify-content: center; 
  align-items: center; /* Vertically center the input field */

}

#subscribe-button{
  color: white;
  background-color:black;
  border:none;
  box-shadow: none;
}
#subscribe-button, #email{
  padding: 10px;
  margin:5px;
}

#subscribe-button, #email-container{
  border-radius:3px;
}

/*checkbox */
#checkbox-div{
  font-size: 10px;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 10px;
}