* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}

body{
  background-color: rgb(200, 200, 200);
}

#window{
  background-color:white;
  border-width: 10px;
  border-radius: 2%;
  min-width: 50px;
  max-height: 15rem;
  overflow: auto;
}

h1{
  font-weight: bolder;
  text-align: center;
}

p{
  text-align: center;
}

#email-container{
  text-align: center;
  display:flex;
  justify-content: center; 
}

#email{
  
}

#subscribe-button{
  color: white;
  background-color:black;
  border-color: black;

}

/*checkbox */
